extends layout

block content

		h2 FCC.gov
		img(src="/img/fcc.jpg", class="thumb")
		ul.list
			li Scripted automated tests with <a href="http://docs.seleniumhq.org/">Selenium</a> to ensure continuing functionality.
			li Created wireframes and reports based on user behavior and site analytics.
			li Wrote and recorded tutorials for new developers.
			li Developed a series of jQuery plugins.
			li HTML, CSS and jQuery
			li.subtle Drupal

		h2 Voto Latino
		img(src="/img/voto-android.jpg", class="thumb small")
		img(src="/img/voto-ios.jpg", class="thumb small")
		ul.list
			li Coded the front end of Voto Latino's voting application for <a href="https://itunes.apple.com/app/votolatino/id568988087?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=org.votolatino.android">Android</a>.
			li HTML, CSS and jQuery
			li.subtle PhoneGap

		h2 U-Haul's internal tools
		img(src="/img/tools_mobile.jpg", class="thumb small")
		img(src="/img/tools.jpg", class="thumb small")
		ul.list
			li Created and improved digital tools used by <span class="nowrap">U-Haul</span>.
			li Organized tools from various areas into one cohesive unit.
			li Updated old code by various departments to meet the mobile requirements of the foreseeable future.
			li HTML, CSS and jQuery
			li.subtle Visual Studio

		h2 U-Haul trip sharing
		img(src="/img/trip.jpg", class="thumb")
		ul.list
			li Designed and championed a tool that offers to import social media accounts for the duration of a move and share with friends and family.
			li Wireframes, mockups, CSS, HTML and graphics

		h2 AMERCO
		img(src="/img/amerco.jpg", class="thumb")
		ul.list
			li Designed the corporate website for <span class="nowrap">U-Haul's</span> parent company.
			li Met needs of company and government.
			li Designed tools to allow content creation.
			li Wireframes, mockups, graphics, HTML and CSS

		h2 Ultimate Machine (Arduino)
		<iframe height="315" width="100%" src="http://www.youtube.com/embed/4_43jzikj1I" frameborder="0" allowfullscreen class="thumb"></iframe>
		ul.list
			li <a href="https://github.com/mrdcrowley/ultimate_machine">Built a version</a> of information theorist Claude Shannon's <a href="http://www.kk.org/thetechnium/archives/2008/03/the_unspeakable.php">Ultimate Machine</a>.

		div.two-thirds.small.left
			h2 Other work
			div.one-half.left
				h3 U-Haul
				ul.list
					li Created and updated electronic signage.
					li Customer and employee shadowing, visitor analytics, user interviews and usability tests.
					li Rewrote CSS for responsive and mobile ages.
					li Created, improved and eliminated various pages, sites, wireframes, mockups, recommendations and processes.
				h3 U-Haul unattended rentals
				ul.list
					li Designed an unattended rental experience for iPads.
					li Observed locations.
					li Created wireframes and mockups.
			div.one-half.right
				h3 Human Resources
				ul.list
					li Redesigned the Human Resources site for <span class="nowrap">U-Haul</span> employees.
					li Organized a sprawling site into three sections.
					li Mockups, HTML and CSS
				h3 Employee scheduling
				ul.list
					li Redesigned the tool <span class="nowrap">U-Haul</span> uses to schedule employees. The existing version had grown buggy and required Internet Explorer and training.
					li Designed a simple tool that is still working years later and has transitioned to mobile devices with ease.
					li Removed the need for training materials and courses.
		div.one-third.small.right
			h2 Personal
			ul.list
				li Short distance runner
				li Arduino and Raspberry Pi hacker
				li Wood and 3D printing tinkerer
				li Dog companion
				li Music and boring book appreciator
				li Drinker of dark coffee, tea and beer
				li Baseball watcher and basketball amateur