@import url("http://fonts.googleapis.com/css?family=Raleway:600,900");
@import url("http://fonts.googleapis.com/css?family=Arvo");
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* =Variables */
/* =Text */
a {
  color: #00a6cd;
}
a:hover {
  color: #007490;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
p,
.list li {
  line-height: 140%;
}
p:last-child,
.list li:last-child {
  margin-bottom: 3em;
}
.list li {
  margin-bottom: 1em;
}
.small {
  font-size: 80%;
}
/* =Structure */
body {
  font-family: 'Noto Sans', Georgia, sans-serif;
  background-color: #faf9f0;
  color: #444;
}
header {
  background-color: #333;
  border-bottom: 1px solid #242424;
  padding-left: 100px;
  text-shadow: 0px -1px 0px #242424;
}
header h1 {
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.5em;
  margin: 0;
}
header h1 span {
  font-size: 4em;
  z-index: 100;
  text-shadow: 0.04em 0.04em 0 #9cb8b3;
}
header h1 span,
header h1 span:after {
  font-weight: 900;
  color: #efedce;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: 0.1em;
  padding: 0.2em 0 0.25em 0;
}
header h1 span:after {
  content: attr(data-shadow-text);
  color: rgba(255,255,255,0.15);
  text-shadow: none;
  position: absolute;
  left: 0.0875em;
  top: 0.0875em;
  z-index: -1;
  -webkit-mask-image: url("http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png");
}
header .byline {
  color: rgba(255,255,255,0.3);
  font-family: Arvo;
  padding-left: 5px;
  margin-bottom: 20px;
}
#container {
  padding-left: 100px;
  padding-right: 100px;
}
#contact ul li {
  font-size: 250%;
  font-weight: 700;
  line-height: 200%;
}
#contact ul li a {
  color: #333;
  text-decoration: none;
}
#contact ul li a:hover {
  color: #9cb8b3;
  text-shadow: #fff -1px -1px 0;
}
#content {
  clear: both;
  float: left;
  padding-top: 20px;
}
#content h2 {
  background: rgba(0,0,0,0.2);
  clear: both;
  font-family: Arvo, Georgia, sans-serif;
  font-size: 180%;
  font-weight: 700;
  padding: 0.5em;
}
#content h3 {
  clear: both;
  font-size: 140%;
  font-weight: 700;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
/* =Utilities */
.one-half {
  width: 49%;
}
.one-third {
  width: 33%;
}
.two-thirds {
  width: 66%;
}
.left {
  float: left;
}
.right {
  float: right;
}
img.thumb,
iframe.thumb {
  float: right;
  margin-bottom: 4em;
  margin-left: 2em;
  max-width: 62%;
}
img.thumb.small,
iframe.thumb.small {
  max-width: 30%;
}
.nowrap {
  white-space: nowrap;
}
.subtle {
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}
